.contacts {
  padding-top: 56px;
  padding-bottom: 60px;

  border-radius: 12px 12px 0 0;

  background-color: @color-back-blue;
  box-shadow: 0 4px 40px 0 rgba(217, 217, 217, 0.3);

  @media (min-width: @tablet-width) {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

}

.contacts__wrapper {
  .wrapper-fix();
  .wrapper-padding();

  @media (min-width: @desktop-width) {
    padding-left: 70px;
    padding-right: 53px;
  }

}

.contacts__title {
  margin: 0;
  margin-bottom: 19px;

  font-family: @font-title;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;

  @media (min-width: @tablet-width) {
    margin-bottom: 29px;

    font-size: 36px;
    line-height: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}

.contacts__list {
  display: grid;
  row-gap: 15px;

  @media (min-width: @tablet-width) {
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    row-gap: 22px;
    column-gap: 51px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto;
    grid-template-rows: unset;
    grid-auto-flow: unset;
    column-gap: unset;
    row-gap: 24px;
  }
}

.contacts__item {
  max-width: 290px;

  &--social {
    @media (min-width: @tablet-width) {
      grid-row: -1 / -2;
      grid-column: 1 / 2;
    }

    @media (min-width: @desktop-width) {
      grid-row: auto;
      grid-column: auto;
    }
  }
}

.contacts__item-title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  .contacts__item:nth-of-type(3) & {
    margin-bottom: 4px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 9px;

    font-size: 16px;
    line-height: 23px;

    .contacts__item:nth-of-type(3) & {
      margin-bottom: 9px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 7px;

    .contacts__item:nth-of-type(3) & {
      margin-bottom: 8px;
    }
  }
}

.contacts__item-description {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: @desktop-width) {
  }
}

.contacts__item-link {
  .btn();

  .interactive-styles();
}

.contacts__item-social {
  padding-top: 5px;
}
