.page-main {
}

.page-main__intro {
  margin-bottom: 53px;

  @media (min-width: @tablet-width) {
    margin-bottom: 98px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 117px;
  }
}

.page-main__information {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 91px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 124px;
  }
}

.page-main__advantages {
  margin-bottom: 53px;

  @media (min-width: @tablet-width) {
    margin-bottom: 107px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 123px;
  }
}

.page-main__price {
  margin-bottom: 56px;

  @media (min-width: @tablet-width) {
    margin-bottom: 104px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 119px;
  }
}

.page-main__personal {
  margin-bottom: 53px;

  @media (min-width: @tablet-width) {
    margin-bottom: 105px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 130px;
  }

}
