.phone {
  .btn();
  display: flex;
  gap: 10px;
  align-items: center;

  width: max-content;

  font-size: 18px;
  line-height: 25px;
  font-weight: 500;

  .interactive-styles();
}

.phone span {
  padding-top: 1px;

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}
