.price {
  background-color: @color-back-contrast;

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }

  .price-back();
}

.price__wrapper {
  display: grid;
  row-gap: 17px;

  .wrapper-fix;
  .wrapper-padding;
  padding-top: 53px;
  padding-bottom: 60px;

  background-image: url("../../img/svg-back/star.svg");
  background-repeat: no-repeat;
  background-size: 39px 40px;
  background-position: left -5px top 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto auto;
    row-gap: 44px;

    padding-top: 95px;
    padding-bottom: 109px;

    background-position: left 25px top 55px;
  }

  @media (min-width: @desktop-width) {
    row-gap: 51px;

    padding-top: 170px;
    padding-bottom: 184px;

    background-size: 56px 58px;
    background-position: left 133px top 114px;
  }
}

.price__title {
  margin: 0;

  font-family: @font-title;
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;
  letter-spacing: -0.08px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 50px;
  }
}

.price__description {
  width: 261px;
  margin: 0;
  margin-bottom: 17px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    justify-self: end;

    padding-top: 7px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 298px;
    padding-top: 7px;

    font-size: 16px;
    line-height: 23px;
  }
}

.price__list {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}
