.site-list {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;

  @media (min-width: @tablet-width) {
    font-size: 22px;
    line-height: 31px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 20px;

    font-size: 16px;
    line-height: 22px;
  }
}

.site-list--opened {
   @media (max-width: (@desktop-width - 1)) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media (max-width: (@tablet-width - 1)) {
    gap: 25px;
  }
}

.site-list__link {
  .btn();

  .interactive-styles();
}
