.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

.wrapper-fix {
  box-sizing: border-box;
  max-width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.wrapper-adaptive {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    margin: 0 auto;
  }
}

.wrapper-padding {
  padding-left: @mobile-padding;
  padding-right: @mobile-padding;

  @media (min-width: @tablet-width) {
    padding-left: @tablet-padding;
    padding-right: @tablet-padding;
  }

  @media (min-width: @desktop-width) {
    padding-left: @desktop-padding;
    padding-right: @desktop-padding;
  }
}

.interactive-styles {
  &:hover {
    color: @color-btn-orange;
  }

  &:focus-visible {
    color: @color-btn-orange;
    outline: none;
  }

  &:active {
    color: @color-btn-orange;
    opacity: 0.3;
  }
}

.interactive-styles-default {
  &:hover {
    opacity: 0.4;
  }

  &:focus-visible {
    opacity: 0.4;
    outline: none;
  }

  &:active {
    opacity: 0.2;
  }
}

@img-path: "../img/";
@mobile: "-mobile";
@tablet: "-tablet";
@desktop: "-desktop";

.back(@img-src, @file-prefix, @file-suffix) {
  background-image: image-set(
    url("@{img-src}@{file-prefix}@{file-suffix}.webp") type("image/webp") 1x,
    url("@{img-src}@{file-prefix}@{file-suffix}@2x.webp") type("image/webp") 2x,
    url("@{img-src}@{file-prefix}@{file-suffix}.png") type("image/png") 1x,
    url("@{img-src}@{file-prefix}@{file-suffix}@2x.png") type("image/png") 2x,
  );
  background-repeat: no-repeat;
}

.retina-back(@back-path, @file-prefix) {
  .back(@back-path, @file-prefix, @mobile);

  @media (min-width: @tablet-width) {
    .back(@back-path, @file-prefix, @tablet);
  }

  @media (min-width: @desktop-width) {
    .back(@back-path, @file-prefix, @desktop);
  }
}

@intro-back-path: "@{img-path}intro-back/";
@intro-file-prefix: "intro";

.intro-back() {
  .double-back(@intro-back-path, @intro-file-prefix);
  // background-size: cover;
  // background-position: bottom center;

  @media (min-width: @tablet-width) {
    .retina-back(@intro-back-path, @intro-file-prefix);
    background-size: cover;
    background-position: top center;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
  }
}

@advantages-back-path: "@{img-path}advantages-back/";
@advantages-file-prefix: "advantages";

.advantages-back() {
  .retina-back(@advantages-back-path, @advantages-file-prefix);

  background-size: auto;
  background-position: top 125px center;

  @media (min-width: @tablet-width) {
    background-size: auto;
    background-position: top 13px left 56.5%;
  }

  @media (min-width: @desktop-width) {
    background-position: top left 49.6%;
  }
}

.double-back(@back-path, @file-prefix) {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;

    width: 100%;
    height: 50%;

    .retina-back(@back-path, @file-prefix);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0;

    width: 100%;
    height: 50%;

    .retina-back(@back-path, @file-prefix);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

@offer-back-path: "@{img-path}offer-back/";
@offer-file-prefix: "offer";

.offer-back() {
  .double-back(@offer-back-path, @offer-file-prefix);
}

@price-back-path: "@{img-path}price-back/";
@price-file-prefix: "price";

.price-back() {
  .double-back(@price-back-path, @price-file-prefix);

  @media (max-width: (@tablet-width - 1)) {
    &::before,
    &::after {
      display: none;
    }
  }
}
