@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-400.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-500.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-500.ttf");
  font-display: swap;
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
.wrapper-fix {
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrapper-fix {
    max-width: 768px;
  }
}
@media (min-width: 1366px) {
  .wrapper-fix {
    max-width: 1366px;
  }
}
.wrapper-adaptive {
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 1366px) {
  .wrapper-adaptive {
    max-width: 1366px;
    margin: 0 auto;
  }
}
.wrapper-padding {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .wrapper-padding {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1366px) {
  .wrapper-padding {
    padding-left: 198px;
    padding-right: 198px;
  }
}
.wrapper-intro {
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .wrapper-intro {
    max-width: 768px;
  }
}
@media (min-width: 1366px) {
  .wrapper-intro {
    max-width: 1366px;
  }
}
@media (min-width: 768px) {
  .wrapper-intro {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1366px) {
  .wrapper-intro {
    padding-left: 198px;
    padding-right: 198px;
  }
}
@media (max-width: 767px) {
  .wrapper-intro {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.interactive-styles:hover {
  color: #ffd787;
}
.interactive-styles:focus-visible {
  color: #ffd787;
  outline: none;
}
.interactive-styles:active {
  color: #ffd787;
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  vertical-align: middle;
  color: #122659;
  background-color: #fefcfa;
}
@media (min-width: 1366px) {
  .page {
    font-size: 16px;
    line-height: 23px;
  }
}
.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}
.app_btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 35px;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 768px) {
  .app_btn {
    font-size: 16px;
    line-height: 22px;
  }
}
.app_btn:hover {
  opacity: 0.4;
}
.app_btn:focus-visible {
  opacity: 0.4;
  outline: none;
}
.app_btn:active {
  opacity: 0.2;
}
.logo {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo:hover {
  color: #ffd787;
}
.logo:focus-visible {
  color: #ffd787;
  outline: none;
}
.logo:active {
  color: #ffd787;
  opacity: 0.3;
}
.logo__icon {
  width: 111px;
  height: 17px;
}
@media (min-width: 768px) {
  .logo__icon {
    width: 132px;
    height: 21px;
  }
}
@media (min-width: 1366px) {
  .logo__icon {
    width: 143px;
    height: 23px;
  }
}
.site-toggle {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
.site-toggle:hover {
  border-color: #ffd787;
}
.site-toggle:hover::before,
.site-toggle:hover::after {
  background-color: #ffd787;
}
.site-toggle:focus-visible {
  border-color: #ffd787;
  outline: none;
}
.site-toggle:focus-visible::before,
.site-toggle:focus-visible::after {
  background-color: #ffd787;
}
.site-toggle:active {
  opacity: 0.3;
}
.site-toggle--closed {
  width: 24px;
  height: 14px;
  position: relative;
  border-top: 2px solid #122659;
  border-bottom: 2px solid #122659;
}
.site-toggle--closed::before,
.site-toggle--closed::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #122659;
}
.site-toggle--closed::before {
  width: 100%;
  height: 2px;
  margin: auto 0;
}
.site-toggle--closed::after {
  display: none;
}
.site-toggle--opened {
  width: 14px;
  height: 14px;
  position: relative;
}
.site-toggle--opened::before,
.site-toggle--opened::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #122659;
}
.site-toggle--opened::before,
.site-toggle--opened::after {
  width: 2px;
  height: calc(1.4 * 100%);
  margin: 0 auto;
}
.site-toggle--opened::before {
  transform: rotate(45deg);
}
.site-toggle--opened::after {
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .site-toggle--opened {
    width: 18px;
    height: 18px;
  }
}
.site-list {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .site-list {
    font-size: 22px;
    line-height: 31px;
  }
}
@media (min-width: 1366px) {
  .site-list {
    display: flex;
    gap: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 1365px) {
  .site-list--opened {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .site-list--opened {
    gap: 25px;
  }
}
.site-list__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
.site-list__link:hover {
  color: #ffd787;
}
.site-list__link:focus-visible {
  color: #ffd787;
  outline: none;
}
.site-list__link:active {
  color: #ffd787;
  opacity: 0.3;
}
.phone {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}
.phone:hover {
  color: #ffd787;
}
.phone:focus-visible {
  color: #ffd787;
  outline: none;
}
.phone:active {
  color: #ffd787;
  opacity: 0.3;
}
.main-nav {
  z-index: 10;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: minmax(77px, min-content);
  column-gap: 15px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fefcfa;
}
@media (min-width: 1366px) {
  .main-nav {
    max-width: 1366px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main-nav {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1366px) {
  .main-nav {
    padding-left: 198px;
    padding-right: 198px;
  }
}
@media (min-width: 768px) {
  .main-nav {
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: minmax(81px, min-content);
    column-gap: 25px;
  }
}
@media (min-width: 1366px) {
  .main-nav {
    position: static;
    column-gap: 57px;
    grid-template-rows: minmax(103px, min-content);
    padding-left: 98px;
    padding-right: 98px;
  }
}
@media (max-width: 1365px) {
  .main-nav--opened {
    column-gap: 31px;
    padding-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .main-nav--opened {
    column-gap: 25px;
    padding-top: 4px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1366px) {
  .main-nav__site-toggle {
    display: none;
  }
}
@media (max-width: 1365px) {
  .main-nav__site-list {
    display: none;
  }
}
@media (max-width: 1365px) {
  .main-nav--opened .main-nav__site-list {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: flex;
    padding-top: 9px;
    margin-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .main-nav--opened .main-nav__site-list {
    padding-top: 4px;
  }
}
.main-nav__phone {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__phone {
    justify-self: end;
    display: block;
  }
}
@media (max-width: 1365px) {
  .main-nav--opened .main-nav__phone {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: block;
  }
}
.page-header {
  min-height: 77px;
}
@media (min-width: 768px) {
  .page-header {
    min-height: 81px;
  }
}
@media (min-width: 1366px) {
  .page-header {
    min-height: 103px;
  }
}
.intro {
  padding-top: 51px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-image: -webkit-image-set(url("../img/intro-back/intro-back--mobile.webp") type("image/webp") 1x, url("../img/intro-back/intro-back--mobile@2x.webp") type("image/webp") 2x, url("../img/intro-back/intro-back--mobile.png") type("image/png") 1x, url("../img/intro-back/intro-back--mobile@2x.png") type("image/png") 2x);
  background-image: image-set(url("../img/intro-back/intro-back--mobile.webp") type("image/webp") 1x, url("../img/intro-back/intro-back--mobile@2x.webp") type("image/webp") 2x, url("../img/intro-back/intro-back--mobile.png") type("image/png") 1x, url("../img/intro-back/intro-back--mobile@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-size: 100% 304px;
  background-position: bottom center;
}
@media (min-width: 768px) {
  .intro {
    padding-top: 78px;
    padding-bottom: 92px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 1366px) {
  .intro {
    padding-top: 122px;
    padding-bottom: 136px;
  }
}
@media (min-width: 768px) {
  .intro {
    background-image: -webkit-image-set(url("../img/intro-back/intro-back--tablet.webp") type("image/webp") 1x, url("../img/intro-back/intro-back--tablet@2x.webp") type("image/webp") 2x, url("../img/intro-back/intro-back--tablet.png") type("image/png") 1x, url("../img/intro-back/intro-back--tablet@2x.png") type("image/png") 2x);
    background-image: image-set(url("../img/intro-back/intro-back--tablet.webp") type("image/webp") 1x, url("../img/intro-back/intro-back--tablet@2x.webp") type("image/webp") 2x, url("../img/intro-back/intro-back--tablet.png") type("image/png") 1x, url("../img/intro-back/intro-back--tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
  }
}
@media (min-width: 1366px) {
  .intro {
    background-image: -webkit-image-set(url("../img/intro-back/intro-back--desktop.webp") type("image/webp") 1x, url("../img/intro-back/intro-back--desktop@2x.webp") type("image/webp") 2x, url("../img/intro-back/intro-back--desktop.png") type("image/png") 1x, url("../img/intro-back/intro-back--desktop@2x.png") type("image/png") 2x);
    background-image: image-set(url("../img/intro-back/intro-back--desktop.webp") type("image/webp") 1x, url("../img/intro-back/intro-back--desktop@2x.webp") type("image/webp") 2x, url("../img/intro-back/intro-back--desktop.png") type("image/png") 1x, url("../img/intro-back/intro-back--desktop@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .intro {
    background-size: 100% 441px;
  }
}
@media (min-width: 1366px) {
  .intro {
    background-size: 100% 512px;
  }
}
.intro__wrapper {
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .intro__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1366px) {
  .intro__wrapper {
    max-width: 1366px;
  }
}
@media (min-width: 768px) {
  .intro__wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1366px) {
  .intro__wrapper {
    padding-left: 198px;
    padding-right: 198px;
  }
}
@media (max-width: 767px) {
  .intro__wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.intro__title {
  margin: 0;
  margin-bottom: -2px;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  line-height: 39px;
  font-weight: 500;
  letter-spacing: -0.01em;
}
@media (min-width: 768px) {
  .intro__title {
    margin-bottom: -6px;
    font-size: 42px;
    line-height: 59px;
  }
}
.intro__subtitle {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .intro__subtitle {
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 25px;
  }
}
.intro__description {
  max-width: 240px;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .intro__description {
    max-width: 400px;
    margin-bottom: 39px;
  }
}
.intro__btn {
  padding: 9px 23px 11px 23px;
  background-color: #ffd787;
}
@media (min-width: 768px) {
  .intro__btn {
    padding: 14px 35px 14px 35px;
  }
}
.play-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  width: 51px;
  height: 51px;
  color: #f4c752;
}
.play-btn:hover {
  color: rgba(244, 199, 82, 0.7);
}
.play-btn:focus-visible {
  color: rgba(244, 199, 82, 0.7);
  outline: none;
}
.play-btn:active {
  color: rgba(244, 199, 82, 0.5);
}
.information {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .information {
    max-width: 768px;
  }
}
@media (min-width: 1366px) {
  .information {
    max-width: 1366px;
  }
}
@media (min-width: 768px) {
  .information {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1366px) {
  .information {
    padding-left: 198px;
    padding-right: 198px;
  }
}
@media (min-width: 768px) {
  .information {
    grid-template-columns: 1fr min-content;
    row-gap: 18px;
    column-gap: 40px;
  }
}
@media (min-width: 1366px) {
  .information {
    row-gap: 18px;
    column-gap: 80px;
    padding-right: 237px;
  }
}
.information__title {
  margin: 0;
  margin-bottom: 2px;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 768px) {
  .information__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 50px;
  }
}
@media (min-width: 1366px) {
  .information__title {
    padding-left: 39px;
    margin-bottom: 31px;
  }
}
.information__subtitle {
  margin: 0;
  padding-top: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .information__subtitle {
    grid-row: 2 / 3;
    padding-top: 13px;
    font-size: 18px;
    line-height: 25px;
  }
  .information__subtitle--description {
    grid-column: 1 / 2;
  }
  .information__subtitle--demo {
    grid-column: 2 / -1;
  }
}
@media (min-width: 1366px) {
  .information__subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}
.information__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .information__description {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}
@media (min-width: 1366px) {
  .information__description {
    font-size: 16px;
    line-height: 23px;
  }
}
.information__demo {
  position: relative;
  padding-top: 5px;
}
@media (min-width: 768px) {
  .information__demo {
    grid-row: 3 / 4;
    grid-column: 2 / -1;
  }
}
@media (min-width: 1366px) {
  .information__demo {
    padding-top: 4px;
  }
}
.information__description span {
  display: block;
}
.information__description span:not(:last-of-type) {
  margin-bottom: 12px;
}
.information__img {
  min-width: 290px;
  min-height: 262px;
  margin: 0 auto;
  border-radius: 12px;
}
@media (min-width: 768px) {
  .information__img {
    min-width: 354px;
    min-height: 262px;
  }
}
@media (min-width: 1366px) {
  .information__img {
    min-width: 431px;
    min-height: 231px;
  }
}
.information__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.advantages-list__item {
  display: grid;
  gap: 4px;
}
@media (min-width: 768px) {
  .advantages-list__item {
    gap: 1px;
  }
}
@media (min-width: 1366px) {
  .advantages-list__item {
    gap: 4px;
  }
}
.advantages-list__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .advantages-list__subtitle {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1366px) {
  .advantages-list__subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}
.advantages-list__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .advantages-list__description {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}
@media (min-width: 1366px) {
  .advantages-list__description {
    font-size: 16px;
    line-height: 23px;
  }
}
.advantages {
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  background-image: -webkit-image-set(url("../img/advantages-back/advantages-back--mobile.webp") type("image/webp") 1x, url("../img/advantages-back/advantages-back--mobile@2x.webp") type("image/webp") 2x, url("../img/advantages-back/advantages-back--mobile.png") type("image/png") 1x, url("../img/advantages-back/advantages-back--mobile@2x.png") type("image/png") 2x);
  background-image: image-set(url("../img/advantages-back/advantages-back--mobile.webp") type("image/webp") 1x, url("../img/advantages-back/advantages-back--mobile@2x.webp") type("image/webp") 2x, url("../img/advantages-back/advantages-back--mobile.png") type("image/png") 1x, url("../img/advantages-back/advantages-back--mobile@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 125px center;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .advantages {
    max-width: 768px;
  }
}
@media (min-width: 1366px) {
  .advantages {
    max-width: 1366px;
  }
}
@media (min-width: 1366px) {
  .advantages {
    padding-right: 241px;
  }
}
@media (min-width: 768px) {
  .advantages {
    background-image: -webkit-image-set(url("../img/advantages-back/advantages-back--tablet.webp") type("image/webp") 1x, url("../img/advantages-back/advantages-back--tablet@2x.webp") type("image/webp") 2x, url("../img/advantages-back/advantages-back--tablet.png") type("image/png") 1x, url("../img/advantages-back/advantages-back--tablet@2x.png") type("image/png") 2x);
    background-image: image-set(url("../img/advantages-back/advantages-back--tablet.webp") type("image/webp") 1x, url("../img/advantages-back/advantages-back--tablet@2x.webp") type("image/webp") 2x, url("../img/advantages-back/advantages-back--tablet.png") type("image/png") 1x, url("../img/advantages-back/advantages-back--tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
  }
}
@media (min-width: 1366px) {
  .advantages {
    background-image: -webkit-image-set(url("../img/advantages-back/advantages-back--desktop.webp") type("image/webp") 1x, url("../img/advantages-back/advantages-back--desktop@2x.webp") type("image/webp") 2x, url("../img/advantages-back/advantages-back--desktop.png") type("image/png") 1x, url("../img/advantages-back/advantages-back--desktop@2x.png") type("image/png") 2x);
    background-image: image-set(url("../img/advantages-back/advantages-back--desktop.webp") type("image/webp") 1x, url("../img/advantages-back/advantages-back--desktop@2x.webp") type("image/webp") 2x, url("../img/advantages-back/advantages-back--desktop.png") type("image/png") 1x, url("../img/advantages-back/advantages-back--desktop@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .advantages {
    background-size: auto;
    background-position: top 13px left 56.3%;
  }
}
@media (min-width: 1366px) {
  .advantages {
    background-position: top left 49.6%;
  }
}
@media (min-width: 768px) {
  .advantages {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1366px) {
  .advantages {
    padding-left: 198px;
    padding-right: 198px;
  }
}
.advantages__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 212px min-content min-content;
  row-gap: 24px;
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    row-gap: 67px;
  }
}
@media (min-width: 1366px) {
  .advantages__list {
    row-gap: 103px;
  }
}
.advantages__item:nth-of-type(2n) {
  justify-self: end;
}
.advantages__item:nth-of-type(3) {
  grid-row: 4 / 5;
}
.advantages__item:nth-of-type(4) {
  grid-row: 5 / 6;
}
@media (min-width: 768px) {
  .advantages__item:nth-of-type(n) {
    align-self: end;
  }
  .advantages__item:nth-of-type(2n) {
    justify-self: normal;
  }
  .advantages__item:nth-of-type(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .advantages__item:nth-of-type(2) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin-bottom: 34px;
  }
  .advantages__item:nth-of-type(3) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .advantages__item:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin-bottom: 58px;
  }
}
@media (min-width: 1366px) {
  .advantages__item:nth-of-type(2) {
    margin-bottom: 45px;
  }
  .advantages__item:nth-of-type(4) {
    margin-bottom: 70px;
  }
}
.price-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .price-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}
@media (min-width: 1366px) {
  .price-list {
    column-gap: 41px;
  }
}
.price-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  box-sizing: border-box;
  width: 290px;
  padding: 36px 15px 42px 15px;
  border-radius: 12px;
  border: 3px solid;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .price-list__item {
    width: 206px;
  }
}
@media (min-width: 1366px) {
  .price-list__item {
    gap: 28px;
    width: 321px;
    padding-top: 41px;
    padding-bottom: 47px;
  }
}
.price-list__item:nth-of-type(1) {
  border-color: #8dd9e5;
}
.price-list__item:nth-of-type(2) {
  border-color: #ffd787;
}
.price-list__item:nth-of-type(3) {
  border-color: #feb9cc;
}
.price-list__title {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.price-list__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-bottom: 3px;
}
.price-list__timetable,
.price-list__duration,
.price-list__cost {
  margin: 0;
}
.price-list__value {
  position: relative;
  padding-right: 16px;
  margin-right: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.price-list__value::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 11px;
  height: 14px;
  margin: auto 0;
  background-image: url("../img/currency.svg");
  background-size: 11px 14px;
  background-repeat: no-repeat;
}
.price-list__btn {
  padding: 11px 28px 11px 28px;
}
@media (min-width: 1366px) {
  .price-list__btn {
    padding: 14px 35px 14px 35px;
  }
}
.price-list__item:nth-child(1) .price-list__btn {
  background-color: #8dd9e5;
}
.price-list__item:nth-child(2) .price-list__btn {
  background-color: #ffd787;
}
.price-list__item:nth-child(3) .price-list__btn {
  background-color: #feb9cc;
}
.price {
  padding-top: 56px;
  padding-bottom: 60px;
  background-color: #f7fafc;
  background-image: -webkit-image-set(url("../img/price-back/price-back--mobile.webp") type("image/webp") 1x, url("../img/price-back/price-back--mobile@2x.webp") type("image/webp") 2x, url("../img/price-back/price-back--mobile.png") type("image/png") 1x, url("../img/price-back/price-back--mobile@2x.png") type("image/png") 2x);
  background-image: image-set(url("../img/price-back/price-back--mobile.webp") type("image/webp") 1x, url("../img/price-back/price-back--mobile@2x.webp") type("image/webp") 2x, url("../img/price-back/price-back--mobile.png") type("image/png") 1x, url("../img/price-back/price-back--mobile@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .price {
    padding-top: 96px;
    padding-bottom: 109px;
    background-color: inherit;
  }
}
@media (min-width: 1366px) {
  .price {
    padding-top: 170px;
    padding-bottom: 184px;
  }
}
@media (min-width: 768px) {
  .price {
    background-image: -webkit-image-set(url("../img/price-back/price-back--tablet.webp") type("image/webp") 1x, url("../img/price-back/price-back--tablet@2x.webp") type("image/webp") 2x, url("../img/price-back/price-back--tablet.png") type("image/png") 1x, url("../img/price-back/price-back--tablet@2x.png") type("image/png") 2x);
    background-image: image-set(url("../img/price-back/price-back--tablet.webp") type("image/webp") 1x, url("../img/price-back/price-back--tablet@2x.webp") type("image/webp") 2x, url("../img/price-back/price-back--tablet.png") type("image/png") 1x, url("../img/price-back/price-back--tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
  }
}
@media (min-width: 1366px) {
  .price {
    background-image: -webkit-image-set(url("../img/price-back/price-back--desktop.webp") type("image/webp") 1x, url("../img/price-back/price-back--desktop@2x.webp") type("image/webp") 2x, url("../img/price-back/price-back--desktop.png") type("image/png") 1x, url("../img/price-back/price-back--desktop@2x.png") type("image/png") 2x);
    background-image: image-set(url("../img/price-back/price-back--desktop.webp") type("image/webp") 1x, url("../img/price-back/price-back--desktop@2x.webp") type("image/webp") 2x, url("../img/price-back/price-back--desktop.png") type("image/png") 1x, url("../img/price-back/price-back--desktop@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
  }
}
.price__wrapper {
  display: grid;
  row-gap: 17px;
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .price__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1366px) {
  .price__wrapper {
    max-width: 1366px;
  }
}
@media (min-width: 768px) {
  .price__wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1366px) {
  .price__wrapper {
    padding-left: 198px;
    padding-right: 198px;
  }
}
@media (min-width: 768px) {
  .price__wrapper {
    grid-template-columns: auto auto;
    row-gap: 44px;
  }
}
@media (min-width: 1366px) {
  .price__wrapper {
    row-gap: 51px;
  }
}
.price__title {
  max-width: 290px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .price__title {
    font-size: 36px;
    line-height: 50px;
  }
}
.price__description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .price__description {
    justify-self: end;
    padding-top: 7px;
    margin-bottom: 0;
  }
}
@media (min-width: 1366px) {
  .price__description {
    padding-top: 8px;
    font-size: 16px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .price__list {
    grid-column: 1 / -1;
  }
}
.page-main__intro {
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .page-main__intro {
    margin-bottom: 98px;
  }
}
@media (min-width: 1366px) {
  .page-main__intro {
    margin-bottom: 118px;
  }
}
.page-main__information {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .page-main__information {
    margin-bottom: 91px;
  }
}
@media (min-width: 1366px) {
  .page-main__information {
    margin-bottom: 124px;
  }
}
.page-main__advantages {
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .page-main__advantages {
    margin-bottom: 107px;
  }
}
@media (min-width: 1366px) {
  .page-main__advantages {
    margin-bottom: 123px;
  }
}
/*# sourceMappingURL=style.css.map */
